<header>
    <button class="logo" id="toggle-theme">
        <img src="img/x-g_logo_spin.gif" alt="x-g logo" width="100" >
        <div class="toolbox">
            Toggle Theme
        </div>
    </button>
</header>