<header class="site-header">
    <a class="logo" href="/" aria-label="x-g home">
        <img src="/img/x-g_logo_spin.gif" alt="x-g logo" width="100">
    </a>

    <label class="theme-toggle" for="theme-toggle">
        <div class="theme-dark__label"></div>
        <input type="checkbox" id="theme-toggle" aria-label="Toggle light or dark theme">
        <span class="theme-toggle__track" aria-hidden="true">
            <span class="theme-toggle__thumb"></span>
        </span>
        <div class="theme-light__label"></div>
    </label>
</header>
