.output {
    margin-top: 20px;
    white-space: pre-wrap;
    font-family: monospace;
  }
  .preview {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .preview img {
    width: 32px;
    height: 32px;
  }
  label {
          font-size: 12px;
          display: flex;
          flex-direction: column;
      }

      input {
          padding: 10px 20px;
          background-color: #2C2C2C;
          border: 1px solid #444444;
          color: #fff;
          border-radius: 8px;
          font-family: 'Azeret Mono', monospace;
          font-size: 16px;
          height: 19px;

          width: auto;
          max-width: 800px;
          box-sizing: unset;
      }

      html.light-theme input {
          background-color: #dbdad2;
          border: 1px solid #b9b9b4;
          color: black;
      }

      button {
      background-color: #2C2C2C;
      font-family: 'Azeret Mono', monospace;
      font-size: 16px;
      font-weight: 500;
      color: #fff;
      text-decoration: none;
        display: inline-block;
        padding: 20px 30px;
        cursor: pointer;
        border: 2px solid transparent;
        transition: all 0.3s ease-in-out; /* Ensures smooth transition for background and borders */
        border-radius: 10px;
    }
    button:not(.logo):hover { border: 2px solid #444444; }

    button svg, button svg{
          margin-right: 10px;
          fill: #5e6d09;
          transition: all .3s ease-in-out;
      }

      section.cms {
          padding-top: 200px;
      }
  h2 {
      margin-bottom: 30px;
  }

  input {
      margin-top: 10px;
      margin-bottom: 30px;
  }

  #imageInput {
      padding-bottom: 20px;
  }

  .check {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      margin-bottom: 30px;
  }

  .check input {
      width: auto;
      margin: 0;
  }

  .error {
    border: 2px solid red !important;
  }