---
layout: base.njk
title: "404 Page Not Found. Oupsi."
description: "The page you are looking for could not be found."
permalink: "/404.html"
eleventyExcludeFromCollections: true
---

<section class="error-page">
  <h1>404 - Page Not Found</h1>
  <p>Oupsi! The page you are looking for could not be found.</p>
  <a href="/" class="home-link">Go back to Home</a>
</section>