---
layout: base.njk
title: x-g.ca | Link Index
---

<section class="links">
    <div class="links-container links-list">
        <div class="header-controls">
            <h2>/links</h2>
            <div class="view-toggle">
                <button class="view-btn" id="list-view-btn" title="List View">
                    <img src="/img/list-icon.svg" alt="List view" width="22" height="22">
                </button>
                <button class="view-btn" id="gallery-view-btn" title="Gallery View">
                    <img src="/img/gallery-icon.svg" alt="Gallery view" width="22" height="22">
                </button>
            </div>
        </div>
        <ul>
            <a href="http://plex.x-g.ca/" class="links" target="_blank"><li><img src="img/xg_icon/plex-icon.webp" alt="Plex Icon"><span>Plex</span><p>Free Software Media System</p></li></a>
        
            <a href="https://overseerr.x-g.ca" class="links" target="_blank"><li><img src="img/xg_icon/overseerr-icon.webp" alt="Overseerr icon"><span>Overseerr</span><p>Outil de gestion des demandes Plex</p></li></a>
        
            <a href="https://jelly.x-g.ca" class="links" target="_blank"><li><img src="img/xg_icon/jellyfin-icon.webp" alt="Jellyfin Icon"><span>Jellyfin</span><p>Free Software Media System</p></li></a>
                    
            <a href="https://jellyseerr.x-g.ca" class="links" target="_blank"><li><img src="img/xg_icon/jellyseerr-icon.webp" alt="Jellyseerr Icon"><span>Jellyseerr</span><p>Outil de gestion des demandes Jellyfin</p></li></a>
    
            <a href="https://rom.x-g.ca" class="links" target="_blank"><li><img src="img/xg_icon/romm-icon.webp" alt="RomM Icon"><span>RomM</span><p>Rom manager</p></li></a>

            <a href="https://bd.x-g.ca/" class="links" target="_blank"><li><img src="img/xg_icon/kavita-reader-icon.webp" alt="Kavita Reader Icon"><span>Kavita Reader</span><p>Comic Reader</p></li></a>
        
            <a href="https://audiobook.x-g.ca" class="links" target="_blank"><li><img src="img/xg_icon/audiobookshelf-icon.webp" alt="audiobookshelf Icon"><span>audiobookshelf</span><p>Audiobook Player</p></li></a>
        
            <a href="https://portfolio.x-g.ca" class="links" target="_blank"><li><img src="img/xg_icon/xavier-godbout-portfolio-icon.webp" alt="Xavier Godbout Portfolio Icon"><span>portfolio.x-g.ca</span><p>Mon portfolio</p></li></a>
        
            <a href="https://wiki.x-g.ca" class="links" target="_blank"><li><img src="img/xg_icon/notion-icon.webp" alt="Notion Icon"><span>Notion</span><p>wiki.x-g.ca</p></li></a>
        </ul>
    </div>

    <div class="links-container projects-list">
        <h2>/projects</h2>
        <ul>
            <a href="https://cam2ascii.x-g.ca" class="links" target="_blank"><li><img src="img/xg_icon/webcam-2-ascii-icon.webp" alt="Webcam 2 Ascii Icon"><span>cam2ascii</span><p>Webcam to ASCII generator</p></li></a>
            <a href="https://qr.x-g.ca" class="links" target="_blank"><li><img src="img/xg_icon/qr-code-generator-icon.webp" alt="Qr code generator Icon"><span>url2qr</span><p>Générateur de code QR</p></li></a>
            <a href="https://url.x-g.ca" class="links" target="_blank"><li><img src="img/xg_icon/url3file-icon.webp" alt="url3file Icon"><span>url2file</span><p>Générateur de liens cliquables</p></li></a>
            <a href="projects/credit-card_input.html" class="links" target="_blank"><li><img src="img/xg_icon/credit-card-input-bad-ui-cup-icon.webp" alt="Credit Card Input - Bad UI Cup Icon"><span>Credit from Hell</span><p>Credit Card Input - Bad UI Cup Icon</p></li></a>
        </ul>
    </div>
    
    <div class="links-container games-list">
        <h2>/games</h2>
        <ul>
            <a href="https://map.x-g.ca" class="links" target="_blank"><li><img src="img/xg_icon/minecraft-map-icon.webp" alt="Minecraft Map Icon"><span>map.x-g.ca</span><p>Carte du serveur JPW</p></li></a>
        
            <a href="https://modrinth.com/modpack/kk-modpack" class="links" target="_blank"><li><img src="img/xg_icon/kk-skyblock-icon.webp" alt="KK Skyblock Icon"><span>↓ KK 1.21.7 Modpack</span><p>kk.x-g.ca</p></li></a>
            <a href="https://modrinth.com/modpack/mc-ps1" class="links" target="_blank"><li><img src="img/xg_icon/mcps1-icon.webp" alt="MCPS1 Icon"><span>↓ MCPS1 Modpack</span><p>kk2.x-g.ca</p></li></a>
        
            <a href="downloads/reign-of-nether.mrpack" class="links" target="_blank"><li><img src="img/xg_icon/icon_17.webp" alt="KK Skyblock Icon"><span>↓ Reign of Nether Modpack</span><p>nether.x-g.ca</p></li></a>
        
            <div class="secLinkWrapper">
                <a href="projects/minecraft_online/EGX_1.8_u29.html" class="links" target="_blank"><li><img src="img/xg_icon/minecraft-icon.webp" alt="Minecraft Icon"><span>Minecraft</span><p>Minecraft 1.8.8 Online</p></li></a>
                <a href="projects/leflyingcarpet_profile.zip" download class="secLink profile" target="_blank">/minecraft_profile</a>
            </div>
            <a href="projects/uv-guide.html" class="links" target="_blank"><li><img src="img/xg_icon/pokémon-ultraviolet-mew-icon.webp" alt="Pokémon UltraViolet Mew Icon"><span>Pokémon Ulta-Violet Guide</span><p>pdf viewer</p></li></a>
            <a href="https://x-g.ca/downloads/labeled_map_of_kanto_by_rythos_edited_by_leflyingcrapet.png" class="links" target="_blank"><li><img src="img/xg_icon/icon_20.webp" alt="Pokémon UltraViolet Mew Icon"><span>Kanto Labeled Map</span><p>kanto map</p></li></a>
        </ul>
    </div>

        <div class="links-container devlist">
            <h2>/dev</h2>
                <ul>
                    <a href="https://up.x-g.ca" class="links" target="_blank"><li><img src="img/xg_icon/uptime-kuma-icon.webp" alt="Uptime Kuma Icon"><span>Uptime Kuma</span><p>Monitoring tool</p></li></a>
                    <a href="https://glkvm.com" class="links" target="_blank"><li><img src="img/xg_icon/glkvm-icon.webp" alt="GLKVM Icon"><span>GLKVM</span><p>KVM</p></li></a>
            <a href="https://github.com/xaviergodbout?tab=repositories" class="links" target="_blank"><li><img src="img/xg_icon/github-icon.webp" alt="Github Icon"><span>Github</span><p>Web Repositories</p></li></a>
            <a href="https://app.netlify.com/teams/xaviergodbout/projects" class="links" target="_blank"><li><img src="img/xg_icon/netlify-icon.webp" alt="Netlify Icon"><span>Netlify</span><p>Deploy website</p></li></a>
            <a href="https://dash.cloudflare.com/d8e423cdd6bbf1fdab389e324dbdc5bf/home/domains" class="links" target="_blank"><li><img src="img/xg_icon/cloudflare-icon.webp" alt="Cloudflare Icon"><span>Cloudflare</span><p>x-g.ca DNS</p></li></a>
            <a href="https://porkbun.com/account/domainsSpeedy" class="links" target="_blank"><li><img src="img/xg_icon/porkbun-icon.webp" alt="Porkbun Icon"><span>Porkbun</span><p>Domain Registrar + URL Redirection</p></li></a>
                
                <a href="https://decap.x-g.ca" class="links" target="_blank"><li><img src="img/xg_icon/decap-test-icon.webp" alt="Decap Test Icon"><span>Decap Test</span><p>Test Decap CMS</p></li></a>
                </ul>
        </div>
</section>